<h1 class="cursive-text" style="font-size: 48px;">
    Select a <%- subject %>:
</h1>

<div>
    <% for(var i in data){ %> 
        <% if(i % 3 == 0) { %>  <div class="calendar-row"> <% } %> 
            <div class="calendar-date" 
                <% if(data[i].disabled) { %> 
                    style="background-color: var(--black); color: var(--dark-blue); border-color: var(--light-blue);
                    cursor: default;"
                <% } else { %>
                    onclick="selectItem('<%- data[i].code %>')"
                <% } %> >
                <h1><%- data[i].name %></h1>
                <h3><%- data[i].description %> </h3>
            </div>
        <% if(i % 3 == 2) { %>  </div> <% } %> 
    <% } %>
</div>