<%- include('../public/components/header.ejs') %>

<div class="centered-container">

    <div class="selection-tab">
        <div class="tab-header">
            <h1>
                Select a date:
            </h1>
        </div>
        <div>
            <% for(let d=0; d<15; d+=3){ %> 
                <div class="calendar-row">
                    <% for(let i=0; i<3; i++){ %> 
                            <a class="calendar-date" href="<%- path + '/7-' + (d+i) %>">
                                <h1><%- "7/"+(d+i) %></h1>
                                <h3>Friday</h3>
                            </a>
                    <% } %> 
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('../public/components/footer.ejs') %> 