<%- include('../public/components/header.ejs') %>

<script src="/javascript/csi.js"></script>

<form id="bookForm" action="POST" style="width: 100%;" class="centered-container">
    <div id="data">
        <input type="hidden" id="state" value="">
        <input type="hidden" id="service" value="">
        <input type="hidden" id="date" value="">
        <input type="hidden" id="time" value="">
        <input type="hidden" id="barber" value="">
    </div>
    <div id="content" data-include="book/services" style="width: 100%;"></div>
</form>

<script>
    const statePaths = {
        "service":{path:"service", args: []},
        "date":{path:"date", args:[]},
        "time":{path:"time", args:['service', 'date']},
        "barber":{path:"barber", args:['service', 'date', 'time']},
        "confirm":{path:"confirm", args:['service', 'date', 'time', 'barber']}};
    const states = Object.keys(statePaths);
    var state = document.getElementById('state');
    var content = document.getElementById('content');

    function selectItem(data){
        if(state.value === states[states.length - 1]){
            document.getElementById('bookForm').submit();
            return true;
        }
        document.getElementById(state.value).value = data;
        state.value = states[states.indexOf(state.value) + 1];
        var path = 'book/' + statePaths[state.value]['path'];
        for(var arg in statePaths[state.value]['args'])
        {
            if(arg != null){
                path = path.concat('/' + document.getElementById(statePaths[state.value]['args'][arg]).value);
            }
        }
        console.log(path)
        content.setAttribute('data-include', path);
        csi(); 
    }

    document.getElementById('state').value = states[0];
    csi();
</script>

<%- include('../public/components/footer.ejs') %> 

