<%- include('../public/components/header.ejs') %>

<style>
    td, th{
        padding: 10px;
    }
    .right-column{
        text-align: right;
    }
</style>

<img src="/images/barberBackground.jpg" alt="Background" style="position:absolute; top: 0px; height: 400px; width: 100%; object-fit: cover; z-index: -1;">
<div class="centered-container" style="margin-top: 350px;">
    <h1 style="margin-bottom: 20px; font-size: 48px;" class="cursive-text">Welcome</h1>
    <h2 style="margin-bottom: 10px;">You can book a haircut online</h2>

    <h2>or call us at (825) 555-1234</h2>
    
    <a href="/book" class="big-button">
        <button>Book Now</button>
    </a>

    <h1 class="cursive-text" style="font-size: 48px;">Services:</h1>
    <table style="font-size: 20px;">
        <tr>
            <th>
                Service:
            </th>
            <th class="right-column">
                Cost:
            </th>
        </tr>
        <% for(let s in services) { %> 
            <tr>
                <td>
                    <%- services[s].name %> 
                </td>
                <td class="right-column">
                    <%- services[s].price %> 
                </td>
            </tr>
        <% } %> 
    </table>
</div>

<%- include('../public/components/footer.ejs') %> 