<%- include('../public/components/header.ejs') %>

<div class="centered-container" style="margin-top: 50px;">    
    <h1 class="cursive-text" style="font-size: 48px;">
        Signup
    </h1>
    <form action="signup" method="post" class="centered-container" style="width: 100%;">
        <div style="width: 80%; margin-top: 50px;">            
            <p class="login-label" style="font-size: large; margin-bottom: 30px; color: var(--orange)">
                <% if(locals.message) { %> <%- message %> <% } %></p>
            <label class="login-label" for="firstName">First Name:</label>
            <input class="login-input" type="text" name="firstName" id="firstName">
            <label class="login-label" for="email">Email:</label>
            <input class="login-input" type="email" name="email" id="email">
        </div>

        <button type="submit" class="submit-button">Signup</button>
    </form>
    <p style="font-size: large;">Already registered? <a href="./login" style="color: var(--orange)">Log in</a></p>
</div>

<%- include('../public/components/footer.ejs') %> 