:root{
    --dark-blue: #3d5a80ff;
    --light-blue: #98c1d9ff;
    --cyan: #e0fbfcff;
    --orange: #ee6c4dff;
    --black: #293241ff;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 250;
}
.cursive-text{
    font-family: 'Smooch', cursive;;
}
a{
    text-decoration: none;
}
body{    
    background-color: var(--dark-blue);
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    background-color: var(--black);
}
main{
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(--cyan);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: var(--cyan);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--black-blue) 1px;
    border-style: solid none none none;
}
footer div{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{ 
    font-weight: 600;   
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 4px;
}
footer a p{
    margin-top: 5px;
}
.active{
    color: var(--orange) !important;
}
.centered-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.big-button{
    border-radius: 9999rem;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}
.big-button button{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    height: 60px;
    color: var(--cyan);
    font-size: 28px;
    cursor: pointer;
}
.calendar-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.calendar-date{
    margin: 10px;
    width: 25%;
    height: 0;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    border-radius: 10px;
    border: 2px var(--orange);
    border-style: solid;
    align-items: center;
    background-color: var(--light-blue);
}
.selection-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--cyan);
}
.tab-header{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.unavailable{
    background-color: gray;
    border: 2px var(--black);
    border-style: solid;
}
.service{
    width: 100%;
    text-align: left;        
    border-bottom: var(--orange) 2px;
    border-style: none none solid none;
    color: var(--black);
    margin-bottom: 10px;
}